<!DOCTYPE html>
<html>
<head>
    <title>按钮列表 - 微信开发后台管理</title>
    <%- include ../common/header.html %>
</head>
<body>

<%- include ../common/nav.html %>

<div class="container mt45">
    <div class="jumbotron">
        <h1>欢迎<%=user.userName  %></h1>
        <p>在这里你能看到 基于微信开发的功能模块</p>
        <p>很方便的进行配置 管理</p>
        <p>
            <a class="btn btn-lg btn-primary" href="javascript:void(0);" role="button">开始急速体验 &raquo;</a>
        </p>
    </div>

</div> <!-- /container -->


<%- include ../common/footer.html %>
</body>
</html>