<head>
<%- include /common/meta.html %>
<%- include /common/header.html %>
<title>确认订单</title>

</head>
<body>
	<div id='header' class="title_bar">
		<p class="title">确定订单</p>
	</div>

	<div data-role="page" id="pagefour">
	
		<div class="listbottom"></div>
	
		<form>
			<input type="text" id="address" style="color:gray"  data-role="none" class="input" placeholder="送餐地址">
			<input type="text" id="phone" style="color:gray" data-role="none" class="input" placeholder="联系电话">
			<!--  <input type="text" id="shortTelephone" style="color:gray"  data-role="none" class="input" placeholder="备用电话（选填）">-->
			<p class="reachtime">
		 		<span class="">送达时间：</span>
				<select id="reachTime">
					<option value="0">立即送出</option>
					
				</select>
			</p>
			<input type="text" id="note" style="color:gray"  data-role="none" class="input" placeholder="添加备注（选填）">
			<div class="btn_bar">
				<a href="javascript:void(0);" class="btn_100" id="submit">确认下单</a>
			</div>

		</form>
	</div>

    <%- include /common/footer.html %>
    <script type="text/javascript" src="/funweb/src/js/service/orderInfo.js"></script>
</body>
</html>
