<!DOCTYPE html>
<html>
<head>
<%- include /common/meta.html %>
<%- include /common/header.html %>
<title>美食车</title>
</head>
<body>
	<div id="header" class="title_bar">
		<p class="title">美食车</p>
	</div>

	<div id="pagethree">
		<div
			style="top: 0; height: 50px; width: 100%; text-align: center; line-height: 50px; background: #F8F8F8;"></div>
	</div>
	<ul class="food_cart">

	</ul>
	<span
		style="float: right; line-height: 60px; text-align: right; padding-right: 20px; color: #FF7745;">￥<span
		id='submoney'></span></span>
	<span style="line-height: 50px; padding-top: 4px; float: right;">共计<span
		id='ms'></span>个菜
	</span>
	<br />
	<br />
	<div class="btn_bar">
		<a href="/orderInfoPage" class="btn_100">去下单</a>
	</div>

    <script type="text/javascript" src="/funweb/js/shoppingcar.js"></script>
    <%- include /common/footer.html %>
</body>
</html>
